# Angular specific
client/dist
client/out-tsc/
client/tmp/
client/coverage/
client/e2e/test-output/
client/.angular/
client/.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/.vscode
client/node_modules
client/package-lock.json
client/dist

server/node_modules
server/package-lock.json
server/auth-service/node_modules
server/auth-service/package-lock.json
server/user-service/node_modules
server/user-service/package-lock.json
